.bajo-header{
    height: 110px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bajo-header a{
    margin-right: 50px;
    text-decoration: underline;
}

.bajo-header img{
    margin-left: 50px;
    width: 300px;
}